@page "/localidades/details"
@inject IBGBlazor.Data.ApplicationDbContext DB
@using IBGBlazor.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Authorization

@rendermode InteractiveServer
@attribute [Authorize]

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>municipio</h4>
    <hr />
    @if (municipio is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">State</dt>
            <dd class="col-sm-10">@municipio.Estado.Nome_UF</dd>
            <dt class="col-sm-2">City</dt>
            <dd class="col-sm-10">@municipio.Nome_Municipio</dd>
        </dl>
        <div>
            <a class="btn btn-primary" href="@($"/localidades/edit?id={municipio.Codigo_Municipio}")">Edit</a> |
            <a class="btn btn-outline-primary" href="@($"/localidades")">Voltar</a>
        </div>
    }
</div>

@code {
    Municipio? municipio;

    [SupplyParameterFromQuery]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        municipio = await DB.Municipios.FirstOrDefaultAsync(m => m.Codigo_Municipio == Id);

        if (municipio is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
